antlr4-python3-runtime==4.13.2
antlr4-tools==0.2.2
certifi==2026.7.22
charset-normalizer==3.4.9
docopt==0.6.2
graphviz==0.21
idna==3.18
install-jdk==1.1.0
interchange==2021.0.4
mal-simulator==3.2.0
mal-toolbox==2.10.0
monotonic==1.6
networkx==3.6.1
numpy==2.5.2
packaging==26.3
pansi==2024.11.0
pillow==12.3.0
py2neo==2021.2.4
Pygments==2.20.0
pytz==2026.3.post1
PyYAML==6.0.3
requests==2.34.2
scipy==1.18.0
six==1.17.0
tree-sitter==0.23.2
tree-sitter-mal==1.2.4
urllib3==2.7.0
